
.gif-box {
  position: fixed;
  border-radius: 20px;
  left: 50%;
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
  /* transform: translateY(-50%); */
  /* transition: height 3s; */
  text-align: center;
}

.options-box {
  position: fixed;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* transform: translateY(-50%); */
  /* transition: height 3s; */
  text-align: center;
}

.box-bg {
  background: rgb(0,232,255);
  background: linear-gradient(155deg, rgba(0,232,255,0.5046219171262255) 0%, rgba(255,125,2,0.4962185557816877) 100%); 
}

.gif-img {
  padding: 20px;
  margin: 10px;
  border: brown;
  border-style: double;
  border-width: 7px;
}

.parallax-container {
  margin: 0;
  left: 0;
}

.gif-btn {
  margin-bottom: 10px;
}


#gif-form {
  margin-top: 20px;
}

.scroll-banner {
  display: inline-flex;
  border-radius: 20px;
  padding: 12px;
  background: rgb(129,255,77);
  background: linear-gradient(45deg, rgba(129,255,77,0.5046219171262255) 0%, rgba(253,73,255,0.5018207966780462) 100%); 
  text-align: center;
  position: relative;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}